<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Estatísticas</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
   <nav class="nav">
      <a href="#" onclick="show('1')">Projeto 1</a>
      <a href="#" onclick="show('2')">Projeto 2</a>
      <a href="#" onclick="show('3')">Projeto 3</a>
   </nav>
   <div class="content">
      <div id="project1" class="project" data-param="1">
         <h1>Projeto 1</h1>
         <p>not available.</p>
      </div>

      <div id="project2" class="project" data-param="2">
         <h1>Projeto 2</h1>
         <h3 id="RecordsTitle">Atuais Recordistas</h3>

         <p id="groupWithTheMostSubmissions2"></p>
         <p id="errorThatTerroziedTheMostGroups2"></p>
         <p id="lastFirstSubmission2"></p>

         <h3>Ranking</h3>
         <table id="ranking-table-project2">
            <thead>
               <tr>
                  <th>Group</th>
                  <th>Result</th>
                  <th>Time</th>
               </tr>
            </thead>
            <tbody></tbody>
         </table>

         <h3>Erros</h3>
         <canvas id="errorChart2" width="400" height="200"></canvas>

         <h3>Quantidade de Submissoes</h3>
         <canvas id="submissionsChart2" width="400" height="200"></canvas>

         <h3>Linguagens de Programaçao</h3>
         <canvas id="languagesPieChart2" width="300" height="300"></canvas>

         <h3>Entregas ao longo do Tempo</h3>
         <canvas id="deliveryChart2" width="400" height="200"></canvas>

         <h3>Resultados ao longo do Tempo</h3>
         <canvas id="resultsTimeChart2" width="400" height="200"></canvas>

         <h3>Distribuicao dos Resultados</h3>
         <canvas id="resultsDistributionChart2" width="400" height="200"></canvas>
      </div>
      <div id="project3" class="project" data-param="3">
         <h1>Projeto 3</h1>
         <h3 id="RecordsTitle">Atuais Recordistas</h3>

         <p id="groupWithTheMostSubmissions3"></p>
         <p id="errorThatTerroziedTheMostGroups3"></p>
         <p id="lastFirstSubmission3"></p>

         <h3>Ranking</h3>
         <table id="ranking-table-project3">
            <thead>
               <tr>
                  <th>Group</th>
                  <th>Result</th>
                  <th>Time</th>
               </tr>
            </thead>
            <tbody></tbody>
         </table>

         <h3>Erros</h3>
         <canvas id="errorChart3" width="400" height="200"></canvas>

         <h3>Quantidade de Submissoes</h3>
         <canvas id="submissionsChart3" width="400" height="200"></canvas>

         <h3>Entregas ao longo do Tempo</h3>
         <canvas id="deliveryChart3" width="400" height="200"></canvas>

         <h3>Resultados ao longo do Tempo</h3>
         <canvas id="resultsTimeChart3" width="400" height="200"></canvas>

         <h3>Distribuicao dos Resultados</h3>
         <canvas id="resultsDistributionChart3" width="400" height="200"></canvas>
      </div>
   </div>
</body>
</html>
